<div class="parallax-mirror">
  <%# image_tag('banner.png', class: "parallax-slider") %>
</div>

<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->

    <!--<header class="intro-header" style="background-image: url('img/banner.png')">-->
    <header class="intro-header parallax-window" data-parallax="scroll" data-image-src="<%= image_url('banner.png') %>">
        <div class="container">
            <div class="row">
                <div class="medium-10 medium-centered columns">
                	<div class="logo wow flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                    
                    <div class="row">
                      <div class="medium-3 medium-centered columns">
                        <%= image_tag('logo.png') %>
                      </div>
                    </div>

                    <div class="site-heading">
                        <h1>Size Checking Made easy</h1>
                        <h2 class="subheader">Get your own universal size chart that helps you find your correct size across various brands at the same time. Save time on returns. Feel confident shopping online, even from brands you have never tried before.</h2>
                        <%= link_to "Use it now, it's free!", user_build_index_path(:user_id => "building"), :method=> :post, class: "btn" %>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- About -->    
    <!-- div class="about">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-4">
                	<h1>1.Lorem ipsum</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="col-md-4">
                	<h1>2.Lorem ipsum</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="col-md-4">
                	<h1>3.Lorem ipsum</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12 cus-mar">
                	<h1>Fantastic features, awesome fdashboard</h1>
                    <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-3 cus-pad">
                	<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="col-md-9">
                	<%# image_tag('pix1.png', class: "img-responsive wow fadeInRight animated", style: "visibility: visible; animation-name: fadeInRight;") %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="dashboard">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12 cus-mar">
                	<h1>Fantastic features, awesome fdashboard</h1>
                    <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-9">
                  <%# image_tag('pix2.png', class: "img-responsive wow fadeInLeft animated", style: "visibility: visible; animation-name: fadeInLeft;") %>
                </div>
            	<div class="col-md-3 cus-pad">
                	<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="team">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                	<h1>Team</h1>
                </div>
            </div>
            
        	<div class="row">
            	<div class="col-md-3 detail">
                    <%# image_tag('team.png', class: "img-responsive") %>
                    <div class="name">
                    	<h3>Caroline C.</h3>
                  </div>
                    <div class="desc">
                    	<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="col-md-3 detail">
                	<%# image_tag('team.png', class: "img-responsive") %>
                    <div class="name">
                    	<h3>John J.</h3>
                  </div>
                    <div class="desc">
                    	<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="col-md-3 detail">
                	<%# image_tag('team.png', class: "img-responsive") %>
                    <div class="name">
                    	<h3>Jim P.</h3>
                  </div>
                    <div class="desc">
                    	<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="col-md-3 detail">
                	<%# image_tag('team.png', class: "img-responsive") %>
                    <div class="name">
                    	<h3>Peter S.</h3>
                  </div>
                    <div class="desc">
                    	<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                	<h1>Fantastic features, awesome fdashboard</h1>
                    <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
                </div>
                	<button class="btn wow pulse animated animated" data-toggle="modal" data-target="#quizModal" style="visibility: visible; animation-name: pulse;"><i class="fa fa-plus-square-o"></i>New Measurement</button>
            </div>
        </div>
        <a href="http://dev-fashquare.trivand.com/html/index.html#" class="crunchify-top" style="display: none;">↑</a>
    </div -->
    